<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width, user-scalable=no, minimal-ui">
<meta content="no" name="apple-mobile-web-app-capable"><!-- 全屏显示 WebApp -->
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no, email=no" name="format-detection">
<meta content="no" name="wap-font-scale">
<title>阅后即焚聊天室</title>
<script>
	var id={{{id}}};
</script>
<script src="/js/lib/fontSize.js"></script>
<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/chat.css">
<script src="/js/lib/require.js"  data-main="/js/main.js"></script>
<script src="http://hm.baidu.com/hm.js?c8c3ada4ad184a1f1e766a8577e18395" defer></script>


</head>
<body >


<header class="home-header">
    <div class="hd-wrap">
        <a class="left" href="javascript:history.go(-1);"><div class="icon loginicon return"></div></a>
      	<h1 class="hd-logo" id="hd-logo"></h1>
        <a id="online" class="right"><div class="cy"></div></a>
        
    </div>	 
</header>
                       
<section class="chat-box">
	<div class="im">
        		<div class="im-mian of">
					 <div class="message"></div>	
                      <div class="more-load"  style="display:none"></div>
                      
                      
       
                      
                </div>
        </div>

</section>





<div class="people-mian">
	 <div class="hd-wrap">
        <a id="colse-p" class="left" ><div class="icon loginicon return"></div></a>
      	<h1 class="hd-logo"><a >在线人数<span id="renshu"></span></a></h1>
    </div>	 
    
	<div class="people-box">
    	<ul>
        	
        </ul>
    </div>

</div>




<div class="hei-bg">
	<div class="user-info">
    	<div class="tc">注册</div>
    	<div class="user-pic"><input id="uppic"  type="file" ><img id="upimg" src="/img/userpic.jpg"></div>
    	<div><input class="name box tc" type="text" id="upname" name="name"  placeholder="登陆名"></div>
        <div><input class="name box tc" type="password" name="pw"  placeholder="密码"></div>
        <div><input class="name box tc" type="password" name="pw2"  placeholder="密码"></div>
        <div><input class="name box tc" type="text" name="nickname"  placeholder="昵称"></div>
        <div><div id="userbtn" class="bg-main tc userbtn">确定</div></div>
    </div>

</div>



</body>
</html>
